<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ステータス編集</title>
</head>
<body>
    <h1>ステータス編集</h1>
    <form action="/coc/update/<%= data.id %>" method="POST">
        <p>
            <label>名前: </label><input type="text" name="name" value="<%= data.name %>" required>
            <label>職業: </label><input type="text" name="job" value="<%= data.job %>" required>
        </p>
        <p>
            STR:<input type="number" name="str" value="<%= data.str %>" style="width:50px;">
            CON:<input type="number" name="con" value="<%= data.con %>" style="width:50px;">
            POW:<input type="number" name="pow" value="<%= data.pow %>" style="width:50px;">
            DEX:<input type="number" name="dex" value="<%= data.dex %>" style="width:50px;">
        </p>
        <p>
            APP:<input type="number" name="app" value="<%= data.app %>" style="width:50px;">
            SIZ:<input type="number" name="siz" value="<%= data.siz %>" style="width:50px;">
            INT:<input type="number" name="int" value="<%= data.int %>" style="width:50px;">
            EDU:<input type="number" name="edu" value="<%= data.edu %>" style="width:50px;">
        </p>
        <p>
            <label>特徴・備考: </label><br>
            <textarea name="memo" rows="4" cols="40"><%= data.memo %></textarea>
        </p>
        <button type="submit">更新</button>
    </form>
    <a href="/coc">戻る</a>
</body>
</html>