<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CoC6版探索者一覧</title>
</head>
<body>
    <h1>CoC6版探索者名簿</h1>
    <a href="/coc/create">新規探索者作成</a>
    <hr>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>名前</th>
            <th>職業</th>
            <th>POW</th>
            <th>操作</th>
        </tr>
        <% for (let item of data) { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.job %></td>
            <td><%= item.pow %></td>
            <td>
                <a href="/coc/<%= item.id %>">詳細</a> | 
                <a href="/coc/edit/<%= item.id %>">編集</a> | 
                <a href="/coc/delete/<%= item.id %>" onclick="return confirm('削除しますか？');">削除</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>